# Essential
OAUTH_JWT_PUBLIC=(YOUR PUBLIC KEY)
OAUTH_JWT_SECRET=(YOUR PRIVATE KEY)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=(YOUR GOOGLE CLIENT ID)

# Optional
YOUTUBE_API_KEY=

# Only for Production
JWT_SECRET=
CRON_SECRET=
TEACHERS_CODE=
